openapi: 3.0.3
info:
  title: Risk Context Service API
  version: 1.0.0
  description: Transaction risk assessment APIs.
servers:
  - url: https://api.sandbox.openfinance.ae
paths:
  /api/v1/risk/assess:
    post:
      summary: Assess transaction risk
      operationId: assessRisk
      description: |-
        Decides once per transactionId. transactionId is unique across all
        callers of this service, so callers must namespace their ids (for
        example PAY-<payment id>). A retry that repeats every input (amount by
        value, currency, highRiskCountry, velocityScore) returns the stored
        decision; the same transactionId with any different input is a 409
        TRANSACTION_ALREADY_ASSESSED. A 409 DUPLICATE_REQUEST means a
        concurrent first request for the same transactionId won; retry to get
        its decision.
      security:
        - bearerAuth: []
        - dpopAuth: []
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/DPoP'
        - $ref: '#/components/parameters/InteractionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskAssessmentRequest'
      responses:
        '201':
          description: Risk assessment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAssessmentResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: |-
            TRANSACTION_ALREADY_ASSESSED: the transactionId was already assessed
            with different inputs. DUPLICATE_REQUEST: a concurrent request for
            the same transactionId won; retrying returns its decision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error (not retryable as a duplicate)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/risk/assessments/{transactionId}:
    get:
      summary: Find risk assessment by transaction id
      operationId: findRiskAssessment
      security:
        - bearerAuth: []
        - dpopAuth: []
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/DPoP'
        - $ref: '#/components/parameters/InteractionId'
        - $ref: '#/components/parameters/TransactionId'
      responses:
        '200':
          description: Risk assessment found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAssessmentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No assessment for this transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    dpopAuth:
      type: http
      scheme: bearer
      bearerFormat: DPoP
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
    DPoP:
      name: DPoP
      in: header
      required: false
      description: |-
        DPoP proof (RFC 9449). Optional here: per the platform contract
        (addendum 2026-10-08) DPoP binding applies only to open-finance TPP
        clients. This service is called with internal client-credentials and
        staff tokens, which are not DPoP-bound, so it does not verify DPoP; a
        DPoP header sent anyway is ignored. Audience and the azp allow-list are
        enforced by the service.
      schema:
        type: string
    InteractionId:
      name: X-FAPI-Interaction-ID
      in: header
      required: true
      schema:
        type: string
    TransactionId:
      name: transactionId
      in: path
      required: true
      schema:
        type: string
  schemas:
    RiskAssessmentRequest:
      type: object
      required: [transactionId, amount, currency, velocityScore]
      properties:
        transactionId:
          type: string
          description: |-
            Caller's id of the transaction, unique across all callers (namespace
            it, for example PAY-<payment id>). At most 128 characters.
          maxLength: 128
        amount:
          type: number
          format: double
          description: |-
            Positive, at most 15 integer digits and 4 decimals. More decimals are
            refused with a 400, never rounded, so a retry matches exactly.
          minimum: 0
          exclusiveMinimum: true
        currency:
          type: string
          description: Upper-case ISO 4217 code, for example AED.
        highRiskCountry:
          type: boolean
          default: false
        velocityScore:
          type: integer
          minimum: 0
          maximum: 100
    RiskAssessmentResponse:
      type: object
      required: [assessmentId, transactionId, score, decision, reasons, assessedAt]
      properties:
        assessmentId:
          type: string
        transactionId:
          type: string
        score:
          type: integer
        decision:
          type: string
          enum: [ALLOW, REVIEW, BLOCK]
        reasons:
          type: array
          items:
            type: string
        assessedAt:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required: [code, message, interactionId, timestamp]
      properties:
        code:
          type: string
        message:
          type: string
        interactionId:
          type: string
        timestamp:
          type: string
          format: date-time
